* {
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2.4rem;
  color: #254159;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  color: #254159;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.8rem;
  color: #254159;
  margin-bottom: 10px;
  margin-top: 30px;
}

h4 {
  font-size: 1.6rem;
  color: #254159;
  margin-bottom: 10px;
}

nav ul li {
  color: #454545;
  font-size: 1.4rem;
  margin: 10px;
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #254159;
}

nav li:hover {
  background: #fff;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
}

header {
  width: 100%;
  display: block;
  float: left;
  background: #fff;
  padding: 20px;
  border-bottom: 5px solid #254159;
}

footer {
  width: 100%;
  display: block;
  float: left;
  background: #254159;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  font-size: 1.4rem;
  padding: 20px;
}

nav {
  display: block;
  float: left;
  width: 30%;
}

article {
  display: block;
  float: left;
  width: 70%;
}

.img1 {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  table {
    max-width: 100%;
    min-width: 320px;
  }

  html {
    font-size: 62.5%;
  }

  nav,
  article,
  section {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin-left: unset;
    padding: 10px;
  }
}
